vendor/ export-ignore
support/ export-ignore
tests/reports/ export-ignore

Makefile export-ignore
php* export-ignore

.env export-ignore
.git* export-ignore
.dockerignore export-ignore
php* export-ignore
